@import '../../../style/colors.scss';
.Fab {
  position: relative;
  display: inline-block;
  width: 4.236em;
  height: 4.236em;
  background: $primary;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  cursor: pointer;
  transition: background 150ms ease-in-out;
  &.small {
    width: 32px;
    height: 32px;
    img {
      width: 65%;
    }
  }
  &:hover {
    background: $primaryLight;
  }

  img {
    top: 0;
    display: block;
    margin: auto;
    height: inherit;
    width: inherit;
  }

}
