@import '../../../style/colors.scss';
$backgroundIndent: darken($background, 5%);
$text: rgb(50, 50, 50);
$border: 1px solid $backgroundIndent;

$animSpeed: 0.2s;
$transition: $animSpeed linear;

.TopNav {
  z-index: 999;
  position: fixed;
  right: 100%;
  top: 0;
  transform: translate(100%);
  max-width: 270px;
  height: 100%;
  width: 80%;
  background: darken($background, 5%);
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
  transition: transform $transition;
  transition-delay: $animSpeed/1.5;
  will-change: transform;

  &_toggleButton {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    width: 77px;
    height: 77px;
    background: darken($background, 5%);
    border: 1px solid $textColor;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    border-radius: 29% 33% 36% 35%;
    transition:
      border-radius $animSpeed/1.2 linear,
      transform $animSpeed/1.2 linear,
      box-shadow 0.1ms linear $animSpeed/1.8;

    &:after, &:before {
      content: "";
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
      height: 35.67px;
      width: 35.67px;
      background-image: url(../../../assets/icons/delete.svg);
      background-size: cover;
      transition: opacity $animSpeed/5 linear $animSpeed/2;
    }
    &:before {
      opacity: 0;
      left: 10px;
      background-image: url(../../../assets/icons/menu-button.svg);
      transition-delay: $animSpeed/2;
    }
  }

  &_content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    &_logo {
      height: 115px;
      img {
        background-repeat: space;
        background-size: contain;
        height: 70%;
        width: auto;
        margin: 2rem;
      }
    }

    &_NavLinks {
      margin: 0;
      padding: 0 0 0 4rem;
      li {
        display: block;
        position: relative;
        padding: 1rem 0;
        opacity: 1;
        transform: translateX(0%);
        transition: opacity 1s cubic-bezier(.215,.61,.355,1),transform .6s cubic-bezier(.215,.61,.355,1);
        will-change: opacity, transform;
      }

      a {
        font-family: 'Roboto slab', 'Roboto', serif;
        font-size: 2em;
        font-weight: bold;
        color: $textColor;
        text-decoration: none;
        span {
          &:hover {
            text-decoration: underline;
          }
        }
        &.active span {
          text-decoration: underline;
        }
        .NavLinks_bullet {
          display: block;
          position: absolute;
          right: 105%;
          width: 0.9em;
          height: 0.9em;
          margin-top: 0.225em;
          border-radius: 50%;
          border: 5px solid black;
          background: black;
          overflow: visible;
        }
        &:not(.active) .NavLinks_bullet{
          background: transparent !important;
        }
        &.active .NavLinks_bullet {
          animation: TopNav_NavLinks--grow 2s ease-in-out infinite;
        }
      }
      span {
        display: block;
      }
    }

    .FabList {
      margin: 0 10px;
    }

    &_NavFooter {
      text-align: center;
      .FabLink {
        margin-bottom: 0.5rem;
      }
    }

  }

}
.TopNav.hidden {
    transform: translate(0);
    transition-delay: 0s;
  .TopNav_toggleButton {
    pointer-events: auto;
    transform: translate(100%);
    border-radius: 0 0 100% 0;
    transition:
      border-radius $animSpeed/8 * 4 linear $animSpeed ,
      transform $animSpeed/8 * 4 linear $animSpeed ,
      box-shadow $animSpeed linear $animSpeed/2;
    box-shadow: 0px 1px 1px 2px rgba(0,0,0,0.57);
    opacity: 0.8;
    &:before {
      opacity: 1;
      transition-delay: 0;
    }
    &:after {
      opacity: 0;
    }
  }
  .TopNav_content_NavLinks {
    li {
      opacity: 0;
      transform: translateX(100%);
      transition: all 0ms ease-in 0s;
      .NavLinks_bullet {
        pointer-events: auto;
      }
    }
  }
}

@keyframes TopNav_NavLinks--grow {
  0%, 100% {
    transform: scale(1.1) translateY(0.1em);
  }
  50% {
    transform: scale(0.8) translateY(0.1em);
  }
}

@media only screen and (max-height: 530px) {
  .TopNav_content {
    font-size: 0.9rem;
  }
}
@media only screen and (max-height: 470px) {
  .TopNav_content {
    font-size: 0.8rem;
  }
}
@media only screen and (max-height: 450px) {
  .TopNav_content {
    &_NavFooter > :first-child {
      display: none;
    }
  }
}
@media only screen and (max-height: 410px) {
  .TopNav_content {
    justify-content: space-around;
    .FabList {
      margin-bottom: 10px;
    }
    &_NavFooter {
      display: none;
    }
  }
}
@media only screen and (max-height: 360px) {
  .TopNav_content {
    &_logo {
      display: none;
    }
    .FabList {
      margin-bottom: 10px;
    }
    &_NavFooter {
      display: block;
      & > :first-child {
        display: block;
      }
    }
  }
}
@media only screen and (max-height: 320px) {
  .TopNav_content {
    &_NavFooter {
      display: none;
    }
  }
}
@media only screen and (min-height: 620px) {
  .TopNav_content {
    &_NavLinks {
      font-size: 1.1rem;
    }
  }
}


// larger than mobile styles
@media only screen and (min-width: 600px) {
  .container-fluid {
    padding-left: 77px;
  }
  .TopNav {
    left: 0;
    right: initial;
    width: 270px;
    overflow: hidden;
    transform: translate(0);
    transition: width $transition;
    will-change: width;
    .TopNav_toggleButton {
      background: transparent;
      &:before {
        margin-left: 10px;
      }
    }
    &.hidden > .TopNav_toggleButton {
      transform: translate(0);
      box-shadow: none;
    }
    &_content {
      width: 270px;
      &_logo {
        transition: all $animSpeed linear;
      }
      &_NavLinks {
        a {
          transition-delay: inherit;
        }
        span {
          margin-left: 8px;
          opacity: 1;
          transform: translate(0%);
          transition: opacity $animSpeed * 3 linear, transform $transition;
          transition-delay: inherit;
        }
      }
      .FabList {
        transition: all 0.2s linear $animSpeed * 0.8;
      }
      &_NavFooter {
        transition: all 0.2s linear $animSpeed * 1.1;
      }
    }

    &.hidden {
      width: 77px;
      .TopNav_content {
        &_logo {
          opacity: 0;
          transform: translate(-150px);
          transition: opacity $animSpeed/2, transform $animSpeed/2 step-end;
        }
        &_NavLinks {
          li {
            opacity: 1;
            transform: translateX(0%);
          }
          span {
            opacity: 0;
            transform: translate(100%);
            transition: all 0s linear $animSpeed;
          }
        }
        .FabList {
          opacity: 0;
          transform: translate(-150px);
          transition: opacity $animSpeed/2, transform $animSpeed/2 step-end;
        }
        &_NavFooter {
          opacity: 0;
          transform: translate(150px);
          transition: opacity $animSpeed/2, transform $animSpeed/2 step-end;
        }
      }
    }
  }
}
