@import '../../../style/colors.scss';
$activeHeader: #122430;
$inactiveHeader: #969AA2;
$backgroundIndent: darken($background, 5%);
$text: rgb(50, 50, 50);
$border: 1px solid $backgroundIndent;

$animSpeed: 0.2s;
$transition: $animSpeed linear;


.TopNav {
  z-index: 999;
  position: fixed;
  right: 100%;
  top: 0;
  transform: translate(100%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 270px;
  height: 100vh;
  width: 80%;
  background: darken($background, 5%);
  box-shadow: 0px 1px 1px 2px rgba(0,0,0,0.57);
  transition: transform $transition;
  transition-delay: $animSpeed/1.5;

  .close {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background: darken($background, 5%);
    border: 1px solid $textColor;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    border-radius: 29% 33% 36% 35%;
    transition:
      border-radius $animSpeed/1.2 linear,
      transform $animSpeed/1.2 linear,
      box-shadow 0.1ms linear $animSpeed/1.8;

    &:after, &:before {
      content: "";
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
      height: 50px;
      width: 50px;
      background-image: url(../../../assets/icons/delete.svg);
      background-size: cover;
      transition: opacity $animSpeed/5 linear $animSpeed/2;
    }
    &:before {
      opacity: 0;
      left: 10px;
      background-image: url(../../../assets/icons/menu-button.svg);
      transition-delay: $animSpeed/2;
    }
  }

  .logo {
    height: 115px;
    & > div {
      background-image: url(../../../assets/images/logo.png);
      background-repeat: space;
      background-size: contain;
      height: 70%;
      width: auto;
      margin: 2rem;
    }

  }

  .FabList {
    margin: 0 10px;
  }

  .NavFooter {
    text-align: center;
    .FabLink {
      margin-bottom: 0.5rem;
    }
  }

}
.TopNav.hidden {
    transform: translate(0);
    transition-delay: 0s;
  .close {
    transform: translate(100%);
    border-radius: 0 0 100% 0;
    transition:
      border-radius $animSpeed/8 * 4 linear $animSpeed ,
      transform $animSpeed/8 * 4 linear $animSpeed ,
      box-shadow $animSpeed linear $animSpeed/2;
    // transition-delay: $animSpeed - $animSpeed/2;
    box-shadow: 0px 1px 1px 2px rgba(0,0,0,0.57);
    opacity: 0.8;
    &:before {
      opacity: 1;
      transition-delay: 0;
    }
    &:after {
      opacity: 0;
    }
  }
}

.TopNav-NavLinks {
  margin: 0;
  padding: 0 0 0 3rem;
  li {
    display: block;
    position: relative;
    padding: 1rem 0;
  }
  a {
    font-size: 2em;
    font-weight: bold;
    color: $textColor;
    text-decoration: none;

    &.active {
      text-decoration: underline;
    }
  }

}
