@import '../../../style/colors.scss';

.PageDivider {
  display: flex;
  clear: both;
  h2 {
    border: 2px solid $primary;
    border-radius: 30px;
    padding: 0 1rem 0.3rem;
    margin: 0;
    text-decoration: underline;
    color: $primary;
  }
  span {
      content: "";
      background: $primary;
      flex: 1;
      height: 2px;
      position: relative;
      top: 1em;
  }
}
