@import '../../style/colors.scss';

.AboutPage {
  &_aboutMe {
    max-width: 840px;
    margin: auto;

    .PictureFrame {
      margin: 0px auto;
      margin-top: 45px;
    }

    &_AboutInfo {
      width: 85%;
      margin: auto;
      max-width: 930px;
      h1 {
        font-size: 4.236em;
        font-weight: 700;
        margin: 0;
        color: $primary;
        text-shadow: 1px 1px 2px hsla(0,0%,59%,.8);
      }
      p {
        font-size: 1.378em;
      }
      .Spoiler p {
        color: lighten($textColor, 40%);
        margin: 0;
      }
    }

  }
  .ModalContainer_button {
    display: inline-block;
    width: 33.333%;
    background: none;
    border: none;
    text-align: center;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    img {
      width: 100%;
    }
    h3 {
      font-size: 1.375em;
      margin: 0;
    }
  }
  &_KeySkills {
    width: 90%;
    max-width: 960px;
    margin: auto;
    &_keyskills {
      max-width: 960px;
      width: 90%;
      margin: auto;
    }
    &_lists {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      margin: auto;
      ul {
        display: inline-block;
        padding: 0;
        .FabLink > .Fab {
          width: 1.8em;
          height: 1.8em;
          background: transparent;
          box-shadow: none;
          img {
            height: inherit;
            width: auto;
          }
        }
      }
    }
    &_other {
      margin: auto;
      width: 90%;
      .BulletList {
        margin: 0 0.5em;
      }
    }
  }

  &_websiteInfo {
    width: 85%;
    max-width: 840px;
    margin: auto;
    margin-bottom: 1em;
  }
}


@media only screen and (min-width : 450px) {
  .AboutPage {
    .PageDivider {
      font-size: 1.618em;
    }
    .ModalContainer_button h3{
      font-size: 2.229em;
    }
    &_websiteInfo {
      font-size: 1.378em;
    }
  }
}
@media only screen and (min-width : 520px) {
  .AboutPage {
    &_aboutMe {
      margin: 50px 50px 0px 50px;
      .PictureFrame {
        float: right;
        width: 244.469px;
        margin-left: 20px;
        & > img {
          height: 244.469px;
          margin-bottom: 5px;
        }
      }
    }

    &_KeySkills {
      font-size: 1.2em;
      &_lists {
        ul {
          font-size: 1.378em;
        }
      }
    }
  }
}
@media only screen and (min-width: 600px) {
  .AboutPage {
    &_aboutMe_AboutInfo {
      width: 100%;
    }
    &_KeySkills {
      &_other {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
@media only screen and (min-width : 720px) {
  .AboutPage {
    &_KeySkills {
      &_lists {
        justify-content: space-around;
        ul {
          font-size: 1.8em;
        }
      }
      &_other {
        font-size: 1.2em;
      }
    }
  }
}
@media only screen and (min-width : 960px) {
  .AboutPage {
    &_aboutMe {
      margin: 50px auto;
    }
    &_KeySkills_other {
      font-size: 1.5em;
    }
  }
}
