@import '../../style/colors.scss';

.AboutPage {
  .PictureFrame {
    // float: right;
    margin: 0px auto;
    margin-top: 50px;
  }
}
.AboutPage_aboutMe {
  max-width: 840px;
  margin: auto;

}
.AboutPage-AboutInfo {
  width: 85%;
  margin: auto;
  max-width: 930px;
  h1 {
    font-size: 4.236em;
    font-weight: 700;
    margin: 0;
    color: $primary;
    text-shadow: 1px 1px 2px hsla(0,0%,59%,.8);
  }
  p {
    font-size: 1.378em;
  }
  .Spoiler p {
    color: lighten($textColor, 40%);
    margin: 0;
  }
}
.AboutPage_KeySkills {
  width: 90%;
  max-width: 960px;
  margin: auto;
  &_keyskills {
    max-width: 244.469px * 3;
    margin: auto;
  }
  &_lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    ul {
      display: inline-block;
      padding: 0;
      .FabLink > .Fab {
        width: 1.8em;
        height: 1.8em;
      }
    }
  }
}
.AboutPage_websiteInfo {
  width: 90%;
  max-width: 840px;
  margin: auto;
  margin-bottom: 1em;
}

@media only screen and (min-width : 450px) {
  .AboutPage .PageDivider {
    font-size: 1.618em;
  }
  .AboutPage_KeySkills .ModalContainer_button {
    font-size: 1.05em;
  }
  .AboutPage_websiteInfo {
    font-size: 1.378em;
  }
}
@media only screen and (min-width : 520px) {
  .AboutPage {
    .PictureFrame {
      float: right;
      width: 244.469px;
      & > img {
        height: 244.469px;
        margin-bottom: 5px;
      }
    }
  }
  .AboutPage_aboutMe {
    margin: 50px 50px 0px 50px;
  }
  .AboutPage_KeySkills {
    font-size: 1.2em;
    ul {
      font-size: 1.378em;
    }
  }
}
@media only screen and (min-width : 720px) {
  .AboutPage_KeySkills_lists {
    justify-content: space-around;
  }
  .AboutPage_KeySkills ul {
    font-size: 1.8em;
  }
}
@media only screen and (min-width : 960px) {
  .AboutPage_aboutMe {
    margin: 50px auto;
  }
}
