.ModalContainer {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  &_button {
    width: 33.333%;
    background: none;
    border: none;
    img {
      width: 100%;
    }
    h3 {
      font-size: 2.229em;
      margin: 0;
    }
  }
}
