@import './colors.scss';

html {
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", "Calibri Light", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.jmc_button {
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  padding: 0.2rem 0.8rem;
  color: $primaryLight;
  border: 2px solid $primaryLight;
  background: transparent;
  border-radius: 2em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

a {
  color: $primaryLight;
}

.route, .container-fluid, #root {
  height: 100%;
}
.route-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.route-enter.route-enter-active {
  opacity: 1;
}

.route-leave {
  opacity: 0;
  transition: opacity .5s ease-in;
}

.route-leave.route-leave-active {
  opacity: 0;
}

@media only screen and (min-width: 600px) {
  // add body on tablet to allow space for sidenav
  #root {
    padding-left: 77px;
  }
}
