$headerTransitionDuration: 500ms;
$headerTransitionEasing: cubic-bezier(0.22, 0.61, 0.36, 1);
$headerTransition: $headerTransitionDuration $headerTransitionEasing 0ms;
$contentTransitionDuration: 450ms;
$contentTransitionEasing: cubic-bezier(0.22, 0.61, 0.36, 1);
$contentTransition: $contentTransitionDuration $contentTransitionEasing 0ms;
// wrapper so when card expands the wrapper stays
// in the cards collapsed position as a placeholder
.Card_closed-wrapper {
  display: inline-block;
  margin: 2%;
  width: 46%;
  height: 234px;
}
// wrapper so we can scroll the card when it is expanded without scrolling the body
.Card_open-wrapper {
  width: 100%;
  height: 100%;
  .Card-open & {
    position: fixed;
    overflow: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .Card-open &, .Card-transition & {
    z-index: 10;
  }
}
.Card_backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  will-change: opacity;
  will-change: opacity;
  transition: opacity ($headerTransitionDuration) $contentTransitionEasing;
  .Card-open & {
    transition: opacity
      ($headerTransitionDuration + $contentTransitionDuration)
      $headerTransitionEasing;
    opacity: 1;
  }
  .Card-open &, .Card-transition & {
    z-index: 4;
  }
}

// closed card mobile styling
.Card {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  h2, h3 {
    font-size: 1.5em;
  }
  &_header {
    font-size: 1.3em;
    position: relative;
    z-index: 1;
    height: 101%;
    overflow: hidden;
    background: #197db0;
    // top part of header
    &_main {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70%;
      padding-bottom: 10px;

      // open/close button
      & > .Card_toggleButton {
        font-size: 12px;
        z-index: 3;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        .Fab {
          will-change: transform;
          background: #4a5767;
        }
        img {
          width: 54%;
        }
      }
    }

    &_title {
      position: relative;
      color: #fff;
      text-align: center;
      max-width: 200px;
    }
    // bottom skewed bar on header
    &_highlight {
      height: 35%;
      width: 140%;
      position: relative;
      // transform: skew(0, -2.5deg) translate(-20%, 0%) scaleY(1.2);
    }
  }
  // Card_content's content styles
  &_content {
    display: none;
    z-index: -1;
    padding: 0 28px 28px;
    font-size: 1.1643em;
    height: 100%;
    display: none;
    will-change: transform;
    &_description {
      margin: 0;
    }
    &_inner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &_image {
      width: 100%;
      height: 100%;
      max-width: 256px;
    }
    &_code {
      max-width: 100%;
    }
    &_footer {
      clear: left;
      font-weight: 500;
      .FabLink {
        display: inline-block;
        padding-right: 25px;
      }
      .Fab.small {
        width: 42px;
        height: 42px;
      }
    }
  }
}

// sets card to open/expanded position
.Card-open .Card {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  margin-bottom: 20px;
  width: auto;
  height: auto;
  // bring the card to the top of the window, over the other cards when open
  z-index: 4;

  .Card_header {
    height: 182px;
  }
  .Card_content {
    display: block;
  }
}

.Card-transition {
  // bring card to top of window when transitioning
  .Card {
    z-index: 10;
  }

  // transition transforms on header when expanding/collapsing
  .Card_header, .Card_header_title, .Fab {
    will-change: transform;
    transition: transform $headerTransition;
  }
  // transition transforms when sliding content up/down
  .Card_content {
    will-change: transform;
    transition: transform $contentTransition;
  }
}
// split card content into two columns
@media only screen and (min-width: 400px) {
  .Card_content_inner {
    flex-direction: row;
    align-items: flex-start;
    .Card_content_image {
      width: 50%;
    }
  }
}

// 3 Cards per row
@media only screen and (min-width: 500px) {
  .Card_wrapper {
    width: 31%;
    margin: 1%;
  }
}
