@import '../../../style/colors.scss';

.MyTextArea {
  padding: 0;
  margin-bottom: 2.2rem;
  position: relative;
  &-has-error {
    color: red;
  }
  &:after, &:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $secondaryLight;
    bottom: 0;
    left: 0;
    transition: transform 0.3s;
  }
  &::after {
    background-color: $primaryLight;
    transform: scaleX(0);
  }
  &-is-active::after {
    transform: scaleX(1);
  }

  &_label {
    display: block;
    font-size: 16px;
    transform-origin: 0% 100%;
    transform: translateY(25px);
    color: $secondaryLight;
    transition: transform 0.3s;
  }
  &-is-active .MyTextArea_label {
    color: $primaryLight;
  }
  &-is-completed .MyTextArea_label {
    transform: translateY(0) scale(0.618);
  }

  &_input {
    position: relative;
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0;
    font-size: 16px;
    min-height: 2em;
    height: 2em;
    resize: none;
  }

  &_error {
    position: absolute;
  }
}
